<div id="uploadModal" class="modal-overlay">
  <div class="modal">
    <div class="modal-header">
      <h3 data-translate-key="uploadPromptText">파일을 업로드 해주세요.</h3>
    </div>
    <input type="file" id="fileInput" />

    <select id="modeSelect">
      <option value="contract" data-translate-key="contractButtonText">계약서</option>
      <option value="policy" data-translate-key="termsButtonText">약관</option>
    </select>

    <button id="uploadConfirmBtn" data-translate-key="fileSelectButton">파일 선택</button>
    <button class="modal-close">&times;</button>
  </div>
</div>